

.young-serif-regular {
    font-family: "Young Serif", serif;
    
  }
.outfit-uniquifier {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  /* the root elements for styling */
:root{
--White: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone150: hsl(30, 18%, 87%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose800: hsl(332, 51%, 32%);
--Rose50: hsl(330, 100%, 98%);
--font-heebo:"__Heebo_72b39c","__Heebo_Fallback_72b39c";

}
/* styles for the body */

body{
    background-color: var(--Stone100);
    color: var(--Stone900);
    display: flex;
    font-family: "Outfit", serif;
    vertical-align: 300px;
    line-height: 25px;
    padding: 50px;
}

/* styles for the container */

.container{

    background-color: #ddd;
    background-color: var(--White);
    width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    
    
}
/* container hover style */

.container:hover{
    cursor: pointer;}

/* styles for the div inside the div*/

.secondcontainer{
    background-color: var(--Rose50); 
    padding: 25px;
    padding-top: 10px;
    border-radius: 25px;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 30px;

}
img{
    width: 100%;
   
}
.tablecontainer{
    line-height: 40px;
}

p{
    font-size: 16px;
}
tr{
    border-bottom: 1px solid #ddd;
}

table{
    border-collapse: collapse;
    width: 100%;
}
h1, h2 {
    font-family: "Young Serif";
   
}
.colourtable, h2 {
    color: var(--Brown800);
    font-weight: bold;
}
.firstunlist, h3{
    color: var(--Rose800);
}
li::marker{
    color: var(--Brown800);
}


/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        width: 200%;
    
    }

    .secondcontainer {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        width: 1000px;
    }

    .secondcontainer {
        padding: 15px;
    }

    p {
        font-size: 12px;
    }

    h1, h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}